=begin
#Pescheck API

#Official client library for the Pescheck API (v2), generated from the OpenAPI specification. Authenticate with OAuth2 client credentials and use the checks, profiles, screenings, webhooks and divisions endpoints. See https://github.com/pescheckit/pescheck-clients for installation and usage.

The version of the OpenAPI document: 2.0.0

Generated by: https://openapi-generator.tech
Generator version: 7.23.0

=end

require 'cgi'

module Pescheck
  class ChecksApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # List the check types this API supports. The list is bounded metadata about the available check types (not a paginated collection), so the response is a flat array.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :check_type Restrict the list to a single check type.
    # @return [Array<V2CheckInfo>]
    def v2_checks_list(opts = {})
      data, _status_code, _headers = v2_checks_list_with_http_info(opts)
      data
    end

    # List the check types this API supports. The list is bounded metadata about the available check types (not a paginated collection), so the response is a flat array.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :check_type Restrict the list to a single check type.
    # @return [Array<(Array<V2CheckInfo>, Integer, Hash)>] Array<V2CheckInfo> data, response status code and response headers
    def v2_checks_list_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ChecksApi.v2_checks_list ...'
      end
      # resource path
      local_var_path = '/api/v2/checks/'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'check_type'] = opts[:'check_type'] if !opts[:'check_type'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<V2CheckInfo>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['oauth2']

      new_options = opts.merge(
        :operation => :"ChecksApi.v2_checks_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ChecksApi#v2_checks_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param check_type [String] 
    # @param [Hash] opts the optional parameters
    # @return [V2CheckInfo]
    def v2_checks_retrieve(check_type, opts = {})
      data, _status_code, _headers = v2_checks_retrieve_with_http_info(check_type, opts)
      data
    end

    # @param check_type [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(V2CheckInfo, Integer, Hash)>] V2CheckInfo data, response status code and response headers
    def v2_checks_retrieve_with_http_info(check_type, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ChecksApi.v2_checks_retrieve ...'
      end
      # verify the required parameter 'check_type' is set
      if @api_client.config.client_side_validation && check_type.nil?
        fail ArgumentError, "Missing the required parameter 'check_type' when calling ChecksApi.v2_checks_retrieve"
      end
      pattern = Regexp.new(/^[a-z0-9]+$/)
      if @api_client.config.client_side_validation && check_type !~ pattern
        fail ArgumentError, "invalid value for 'check_type' when calling ChecksApi.v2_checks_retrieve, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/api/v2/checks/{check_type}/'.sub('{check_type}', CGI.escape(check_type.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'V2CheckInfo'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['oauth2']

      new_options = opts.merge(
        :operation => :"ChecksApi.v2_checks_retrieve",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ChecksApi#v2_checks_retrieve\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
