=begin
#Pescheck API

#API for Pescheck  ## Authentication This API supports three authentication methods: 1. **OAuth2** (recommended for API clients) - Use client credentials flow 2. **JWT Bearer** (for user-based access) - Obtain tokens via /api/jwt/ endpoint 3. **Cookie** (for browser-based access) - Session authentication via web login  ## Quick Start for API Clients 1. Select your environment from the servers dropdown 2. Use OAuth2 with client credentials flow 3. Scopes are automatically included: read:api, create:api, update:api

The version of the OpenAPI document: 2.0.0

Generated by: https://openapi-generator.tech
Generator version: 7.23.0

=end

require 'cgi'

module Pescheck
  class DivisionsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create a division (a child organisation under the current parent org). Divisions are an advanced, rarely-needed feature: create one ONLY when the user has clearly stated they want to manage a separate business unit, location, or legal entity under their account. Do NOT create a division just to organise screenings, for a single-person or single-member organisation, or without an explicit request to do so. When in doubt, ask the user to confirm before calling this tool.
    # @param division_write [DivisionWrite] 
    # @param [Hash] opts the optional parameters
    # @return [DivisionWrite]
    def v2_organisations_divisions_create(division_write, opts = {})
      data, _status_code, _headers = v2_organisations_divisions_create_with_http_info(division_write, opts)
      data
    end

    # Create a division (a child organisation under the current parent org). Divisions are an advanced, rarely-needed feature: create one ONLY when the user has clearly stated they want to manage a separate business unit, location, or legal entity under their account. Do NOT create a division just to organise screenings, for a single-person or single-member organisation, or without an explicit request to do so. When in doubt, ask the user to confirm before calling this tool.
    # @param division_write [DivisionWrite] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(DivisionWrite, Integer, Hash)>] DivisionWrite data, response status code and response headers
    def v2_organisations_divisions_create_with_http_info(division_write, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DivisionsApi.v2_organisations_divisions_create ...'
      end
      # verify the required parameter 'division_write' is set
      if @api_client.config.client_side_validation && division_write.nil?
        fail ArgumentError, "Missing the required parameter 'division_write' when calling DivisionsApi.v2_organisations_divisions_create"
      end
      # resource path
      local_var_path = '/api/v2/organisations/divisions/'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'multipart/form-data'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(division_write)

      # return_type
      return_type = opts[:debug_return_type] || 'DivisionWrite'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['oauth2']

      new_options = opts.merge(
        :operation => :"DivisionsApi.v2_organisations_divisions_create",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DivisionsApi#v2_organisations_divisions_create\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List method that handles both paginated and unpaginated responses and enforces the max_total_records limit (500).
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page A page number within the paginated result set. (default to 1)
    # @option opts [Integer] :page_size Number of results to return per page. (default to 50)
    # @option opts [Boolean] :paginate Enable/disable pagination. When false, max 500 records returned. (default to true)
    # @return [PaginatedDivisionReadOnlyList]
    def v2_organisations_divisions_list(opts = {})
      data, _status_code, _headers = v2_organisations_divisions_list_with_http_info(opts)
      data
    end

    # List method that handles both paginated and unpaginated responses and enforces the max_total_records limit (500).
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page A page number within the paginated result set. (default to 1)
    # @option opts [Integer] :page_size Number of results to return per page. (default to 50)
    # @option opts [Boolean] :paginate Enable/disable pagination. When false, max 500 records returned. (default to true)
    # @return [Array<(PaginatedDivisionReadOnlyList, Integer, Hash)>] PaginatedDivisionReadOnlyList data, response status code and response headers
    def v2_organisations_divisions_list_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DivisionsApi.v2_organisations_divisions_list ...'
      end
      if @api_client.config.client_side_validation && !opts[:'page'].nil? && opts[:'page'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page"]" when calling DivisionsApi.v2_organisations_divisions_list, must be greater than or equal to 1.'
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] > 100
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling DivisionsApi.v2_organisations_divisions_list, must be smaller than or equal to 100.'
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling DivisionsApi.v2_organisations_divisions_list, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/api/v2/organisations/divisions/'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'page_size'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'paginate'] = opts[:'paginate'] if !opts[:'paginate'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PaginatedDivisionReadOnlyList'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['oauth2']

      new_options = opts.merge(
        :operation => :"DivisionsApi.v2_organisations_divisions_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DivisionsApi#v2_organisations_divisions_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # A division is a child organisation under a parent org, used only when a customer needs to manage genuinely separate business units, locations, or legal entities under one account. The vast majority of organisations operate as a single entity and need no divisions. Only top-level (parent) organisations can have divisions.
    # @param id [String] A UUID string identifying this organisation.
    # @param [Hash] opts the optional parameters
    # @option opts [PatchedDivisionWrite] :patched_division_write 
    # @return [DivisionWrite]
    def v2_organisations_divisions_partial_update(id, opts = {})
      data, _status_code, _headers = v2_organisations_divisions_partial_update_with_http_info(id, opts)
      data
    end

    # A division is a child organisation under a parent org, used only when a customer needs to manage genuinely separate business units, locations, or legal entities under one account. The vast majority of organisations operate as a single entity and need no divisions. Only top-level (parent) organisations can have divisions.
    # @param id [String] A UUID string identifying this organisation.
    # @param [Hash] opts the optional parameters
    # @option opts [PatchedDivisionWrite] :patched_division_write 
    # @return [Array<(DivisionWrite, Integer, Hash)>] DivisionWrite data, response status code and response headers
    def v2_organisations_divisions_partial_update_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DivisionsApi.v2_organisations_divisions_partial_update ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling DivisionsApi.v2_organisations_divisions_partial_update"
      end
      # resource path
      local_var_path = '/api/v2/organisations/divisions/{id}/'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'multipart/form-data'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'patched_division_write'])

      # return_type
      return_type = opts[:debug_return_type] || 'DivisionWrite'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['oauth2']

      new_options = opts.merge(
        :operation => :"DivisionsApi.v2_organisations_divisions_partial_update",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DivisionsApi#v2_organisations_divisions_partial_update\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # A division is a child organisation under a parent org, used only when a customer needs to manage genuinely separate business units, locations, or legal entities under one account. The vast majority of organisations operate as a single entity and need no divisions. Only top-level (parent) organisations can have divisions.
    # @param id [String] A UUID string identifying this organisation.
    # @param [Hash] opts the optional parameters
    # @return [DivisionReadOnly]
    def v2_organisations_divisions_retrieve(id, opts = {})
      data, _status_code, _headers = v2_organisations_divisions_retrieve_with_http_info(id, opts)
      data
    end

    # A division is a child organisation under a parent org, used only when a customer needs to manage genuinely separate business units, locations, or legal entities under one account. The vast majority of organisations operate as a single entity and need no divisions. Only top-level (parent) organisations can have divisions.
    # @param id [String] A UUID string identifying this organisation.
    # @param [Hash] opts the optional parameters
    # @return [Array<(DivisionReadOnly, Integer, Hash)>] DivisionReadOnly data, response status code and response headers
    def v2_organisations_divisions_retrieve_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DivisionsApi.v2_organisations_divisions_retrieve ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling DivisionsApi.v2_organisations_divisions_retrieve"
      end
      # resource path
      local_var_path = '/api/v2/organisations/divisions/{id}/'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'DivisionReadOnly'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['oauth2']

      new_options = opts.merge(
        :operation => :"DivisionsApi.v2_organisations_divisions_retrieve",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DivisionsApi#v2_organisations_divisions_retrieve\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update an existing division's contact, billing, and address details.  Override also triggers a webhook on successful PUT and PATCH requests.
    # @param id [String] A UUID string identifying this organisation.
    # @param division_write [DivisionWrite] 
    # @param [Hash] opts the optional parameters
    # @return [DivisionWrite]
    def v2_organisations_divisions_update(id, division_write, opts = {})
      data, _status_code, _headers = v2_organisations_divisions_update_with_http_info(id, division_write, opts)
      data
    end

    # Update an existing division&#39;s contact, billing, and address details.  Override also triggers a webhook on successful PUT and PATCH requests.
    # @param id [String] A UUID string identifying this organisation.
    # @param division_write [DivisionWrite] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(DivisionWrite, Integer, Hash)>] DivisionWrite data, response status code and response headers
    def v2_organisations_divisions_update_with_http_info(id, division_write, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DivisionsApi.v2_organisations_divisions_update ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling DivisionsApi.v2_organisations_divisions_update"
      end
      # verify the required parameter 'division_write' is set
      if @api_client.config.client_side_validation && division_write.nil?
        fail ArgumentError, "Missing the required parameter 'division_write' when calling DivisionsApi.v2_organisations_divisions_update"
      end
      # resource path
      local_var_path = '/api/v2/organisations/divisions/{id}/'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'multipart/form-data'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(division_write)

      # return_type
      return_type = opts[:debug_return_type] || 'DivisionWrite'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['oauth2']

      new_options = opts.merge(
        :operation => :"DivisionsApi.v2_organisations_divisions_update",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DivisionsApi#v2_organisations_divisions_update\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
