=begin
#Pescheck API

#API for Pescheck  ## Authentication This API supports three authentication methods: 1. **OAuth2** (recommended for API clients) - Use client credentials flow 2. **JWT Bearer** (for user-based access) - Obtain tokens via /api/jwt/ endpoint 3. **Cookie** (for browser-based access) - Session authentication via web login  ## Quick Start for API Clients 1. Select your environment from the servers dropdown 2. Use OAuth2 with client credentials flow 3. Scopes are automatically included: read:api, create:api, update:api

The version of the OpenAPI document: 2.0.0

Generated by: https://openapi-generator.tech
Generator version: 7.23.0

=end

require 'cgi'

module Pescheck
  class OAuthApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create OAuth application for API access
    # @param o_auth_application [OAuthApplication] 
    # @param [Hash] opts the optional parameters
    # @return [OAuthApplicationResponse]
    def create_o_auth_application2(o_auth_application, opts = {})
      data, _status_code, _headers = create_o_auth_application2_with_http_info(o_auth_application, opts)
      data
    end

    # Create OAuth application for API access
    # @param o_auth_application [OAuthApplication] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(OAuthApplicationResponse, Integer, Hash)>] OAuthApplicationResponse data, response status code and response headers
    def create_o_auth_application2_with_http_info(o_auth_application, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: OAuthApi.create_o_auth_application2 ...'
      end
      # verify the required parameter 'o_auth_application' is set
      if @api_client.config.client_side_validation && o_auth_application.nil?
        fail ArgumentError, "Missing the required parameter 'o_auth_application' when calling OAuthApi.create_o_auth_application2"
      end
      # resource path
      local_var_path = '/api/v2/oauth/applications/'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'multipart/form-data'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(o_auth_application)

      # return_type
      return_type = opts[:debug_return_type] || 'OAuthApplicationResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['oauth2']

      new_options = opts.merge(
        :operation => :"OAuthApi.create_o_auth_application2",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: OAuthApi#create_o_auth_application2\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete an OAuth application
    # @param application_id [String] Application ID to delete
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_o_auth_application2(application_id, opts = {})
      delete_o_auth_application2_with_http_info(application_id, opts)
      nil
    end

    # Delete an OAuth application
    # @param application_id [String] Application ID to delete
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_o_auth_application2_with_http_info(application_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: OAuthApi.delete_o_auth_application2 ...'
      end
      # verify the required parameter 'application_id' is set
      if @api_client.config.client_side_validation && application_id.nil?
        fail ArgumentError, "Missing the required parameter 'application_id' when calling OAuthApi.delete_o_auth_application2"
      end
      # resource path
      local_var_path = '/api/v2/oauth/applications/{application_id}/'.sub('{application_id}', CGI.escape(application_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['oauth2']

      new_options = opts.merge(
        :operation => :"OAuthApi.delete_o_auth_application2",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: OAuthApi#delete_o_auth_application2\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List OAuth applications for the organization
    # @param [Hash] opts the optional parameters
    # @return [Array<OAuthApplicationResponse>]
    def list_o_auth_applications2(opts = {})
      data, _status_code, _headers = list_o_auth_applications2_with_http_info(opts)
      data
    end

    # List OAuth applications for the organization
    # @param [Hash] opts the optional parameters
    # @return [Array<(Array<OAuthApplicationResponse>, Integer, Hash)>] Array<OAuthApplicationResponse> data, response status code and response headers
    def list_o_auth_applications2_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: OAuthApi.list_o_auth_applications2 ...'
      end
      # resource path
      local_var_path = '/api/v2/oauth/applications/list/'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<OAuthApplicationResponse>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['oauth2']

      new_options = opts.merge(
        :operation => :"OAuthApi.list_o_auth_applications2",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: OAuthApi#list_o_auth_applications2\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
