=begin
#Pescheck API

#API for Pescheck  ## Authentication This API supports three authentication methods: 1. **OAuth2** (recommended for API clients) - Use client credentials flow 2. **JWT Bearer** (for user-based access) - Obtain tokens via /api/jwt/ endpoint 3. **Cookie** (for browser-based access) - Session authentication via web login  ## Quick Start for API Clients 1. Select your environment from the servers dropdown 2. Use OAuth2 with client credentials flow 3. Scopes are automatically included: read:api, create:api, update:api

The version of the OpenAPI document: 2.0.0

Generated by: https://openapi-generator.tech
Generator version: 7.23.0

=end

require 'cgi'

module Pescheck
  class ScreeningsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # @param v2_screening_create [V2ScreeningCreate] 
    # @param [Hash] opts the optional parameters
    # @return [V2ScreeningDetail]
    def v2_screenings_create(v2_screening_create, opts = {})
      data, _status_code, _headers = v2_screenings_create_with_http_info(v2_screening_create, opts)
      data
    end

    # @param v2_screening_create [V2ScreeningCreate] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(V2ScreeningDetail, Integer, Hash)>] V2ScreeningDetail data, response status code and response headers
    def v2_screenings_create_with_http_info(v2_screening_create, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ScreeningsApi.v2_screenings_create ...'
      end
      # verify the required parameter 'v2_screening_create' is set
      if @api_client.config.client_side_validation && v2_screening_create.nil?
        fail ArgumentError, "Missing the required parameter 'v2_screening_create' when calling ScreeningsApi.v2_screenings_create"
      end
      # resource path
      local_var_path = '/api/v2/screenings/'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'multipart/form-data'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(v2_screening_create)

      # return_type
      return_type = opts[:debug_return_type] || 'V2ScreeningDetail'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['oauth2', 'oauth2', 'oauth2']

      new_options = opts.merge(
        :operation => :"ScreeningsApi.v2_screenings_create",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ScreeningsApi#v2_screenings_create\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Retrieve screening documents
    # Documents attached to the screening's checks. Files are delivered inline as Base64 in `content`. Narrow the result with `check_id` or `check_type`.
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :check_id Only documents from the check with this id.
    # @option opts [String] :check_type Only documents from checks of this type.
    # @return [Array<V2Document>]
    def v2_screenings_documents_list(id, opts = {})
      data, _status_code, _headers = v2_screenings_documents_list_with_http_info(id, opts)
      data
    end

    # Retrieve screening documents
    # Documents attached to the screening&#39;s checks. Files are delivered inline as Base64 in &#x60;content&#x60;. Narrow the result with &#x60;check_id&#x60; or &#x60;check_type&#x60;.
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :check_id Only documents from the check with this id.
    # @option opts [String] :check_type Only documents from checks of this type.
    # @return [Array<(Array<V2Document>, Integer, Hash)>] Array<V2Document> data, response status code and response headers
    def v2_screenings_documents_list_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ScreeningsApi.v2_screenings_documents_list ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling ScreeningsApi.v2_screenings_documents_list"
      end
      # resource path
      local_var_path = '/api/v2/screenings/{id}/documents/'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'check_id'] = opts[:'check_id'] if !opts[:'check_id'].nil?
      query_params[:'check_type'] = opts[:'check_type'] if !opts[:'check_type'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<V2Document>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['oauth2', 'oauth2', 'oauth2']

      new_options = opts.merge(
        :operation => :"ScreeningsApi.v2_screenings_documents_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ScreeningsApi#v2_screenings_documents_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page A page number within the paginated result set. (default to 1)
    # @option opts [Integer] :page_size Number of results to return per page. (default to 50)
    # @option opts [Boolean] :paginate Enable/disable pagination. When false, max 500 records returned. (default to true)
    # @return [PaginatedV2ScreeningListItemList]
    def v2_screenings_list(opts = {})
      data, _status_code, _headers = v2_screenings_list_with_http_info(opts)
      data
    end

    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page A page number within the paginated result set. (default to 1)
    # @option opts [Integer] :page_size Number of results to return per page. (default to 50)
    # @option opts [Boolean] :paginate Enable/disable pagination. When false, max 500 records returned. (default to true)
    # @return [Array<(PaginatedV2ScreeningListItemList, Integer, Hash)>] PaginatedV2ScreeningListItemList data, response status code and response headers
    def v2_screenings_list_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ScreeningsApi.v2_screenings_list ...'
      end
      if @api_client.config.client_side_validation && !opts[:'page'].nil? && opts[:'page'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page"]" when calling ScreeningsApi.v2_screenings_list, must be greater than or equal to 1.'
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] > 100
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling ScreeningsApi.v2_screenings_list, must be smaller than or equal to 100.'
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling ScreeningsApi.v2_screenings_list, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/api/v2/screenings/'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'page_size'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'paginate'] = opts[:'paginate'] if !opts[:'paginate'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PaginatedV2ScreeningListItemList'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['oauth2', 'oauth2', 'oauth2']

      new_options = opts.merge(
        :operation => :"ScreeningsApi.v2_screenings_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ScreeningsApi#v2_screenings_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param id [String] A UUID string identifying this screening.
    # @param [Hash] opts the optional parameters
    # @return [V2ScreeningDetail]
    def v2_screenings_retrieve(id, opts = {})
      data, _status_code, _headers = v2_screenings_retrieve_with_http_info(id, opts)
      data
    end

    # @param id [String] A UUID string identifying this screening.
    # @param [Hash] opts the optional parameters
    # @return [Array<(V2ScreeningDetail, Integer, Hash)>] V2ScreeningDetail data, response status code and response headers
    def v2_screenings_retrieve_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ScreeningsApi.v2_screenings_retrieve ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling ScreeningsApi.v2_screenings_retrieve"
      end
      # resource path
      local_var_path = '/api/v2/screenings/{id}/'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'V2ScreeningDetail'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['oauth2', 'oauth2', 'oauth2']

      new_options = opts.merge(
        :operation => :"ScreeningsApi.v2_screenings_retrieve",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ScreeningsApi#v2_screenings_retrieve\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
