/*
Pescheck API

Official client library for the Pescheck API (v2), generated from the OpenAPI specification. Authenticate with OAuth2 client credentials and use the checks, profiles, screenings, webhooks and divisions endpoints. See https://github.com/pescheckit/pescheck-clients for installation and usage.

API version: 2.0.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package pescheck

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)


// DivisionsAPIService DivisionsAPI service
type DivisionsAPIService service

type ApiV2OrganisationsDivisionsCreateRequest struct {
	ctx context.Context
	ApiService *DivisionsAPIService
	divisionWrite *DivisionWrite
}

func (r ApiV2OrganisationsDivisionsCreateRequest) DivisionWrite(divisionWrite DivisionWrite) ApiV2OrganisationsDivisionsCreateRequest {
	r.divisionWrite = &divisionWrite
	return r
}

func (r ApiV2OrganisationsDivisionsCreateRequest) Execute() (*DivisionWrite, *http.Response, error) {
	return r.ApiService.V2OrganisationsDivisionsCreateExecute(r)
}

/*
V2OrganisationsDivisionsCreate Method for V2OrganisationsDivisionsCreate

Create a division (a child organisation under the current parent org).
Divisions are an advanced, rarely-needed feature: create one ONLY when the
user has clearly stated they want to manage a separate business unit,
location, or legal entity under their account. Do NOT create a division
just to organise screenings, for a single-person or single-member
organisation, or without an explicit request to do so. When in doubt, ask
the user to confirm before calling this tool.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiV2OrganisationsDivisionsCreateRequest
*/
func (a *DivisionsAPIService) V2OrganisationsDivisionsCreate(ctx context.Context) ApiV2OrganisationsDivisionsCreateRequest {
	return ApiV2OrganisationsDivisionsCreateRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return DivisionWrite
func (a *DivisionsAPIService) V2OrganisationsDivisionsCreateExecute(r ApiV2OrganisationsDivisionsCreateRequest) (*DivisionWrite, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *DivisionWrite
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DivisionsAPIService.V2OrganisationsDivisionsCreate")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v2/organisations/divisions/"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.divisionWrite == nil {
		return localVarReturnValue, nil, reportError("divisionWrite is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json", "multipart/form-data"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.divisionWrite
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiV2OrganisationsDivisionsListRequest struct {
	ctx context.Context
	ApiService *DivisionsAPIService
	page *int32
	pageSize *int32
	paginate *bool
}

// A page number within the paginated result set.
func (r ApiV2OrganisationsDivisionsListRequest) Page(page int32) ApiV2OrganisationsDivisionsListRequest {
	r.page = &page
	return r
}

// Number of results to return per page.
func (r ApiV2OrganisationsDivisionsListRequest) PageSize(pageSize int32) ApiV2OrganisationsDivisionsListRequest {
	r.pageSize = &pageSize
	return r
}

// Enable/disable pagination. When false, max 500 records returned.
func (r ApiV2OrganisationsDivisionsListRequest) Paginate(paginate bool) ApiV2OrganisationsDivisionsListRequest {
	r.paginate = &paginate
	return r
}

func (r ApiV2OrganisationsDivisionsListRequest) Execute() (*PaginatedDivisionReadOnlyList, *http.Response, error) {
	return r.ApiService.V2OrganisationsDivisionsListExecute(r)
}

/*
V2OrganisationsDivisionsList Method for V2OrganisationsDivisionsList

List method that handles both paginated and unpaginated responses
and enforces the max_total_records limit (500).

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiV2OrganisationsDivisionsListRequest
*/
func (a *DivisionsAPIService) V2OrganisationsDivisionsList(ctx context.Context) ApiV2OrganisationsDivisionsListRequest {
	return ApiV2OrganisationsDivisionsListRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return PaginatedDivisionReadOnlyList
func (a *DivisionsAPIService) V2OrganisationsDivisionsListExecute(r ApiV2OrganisationsDivisionsListRequest) (*PaginatedDivisionReadOnlyList, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *PaginatedDivisionReadOnlyList
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DivisionsAPIService.V2OrganisationsDivisionsList")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v2/organisations/divisions/"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page, "form", "")
	} else {
		var defaultValue int32 = 1
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", defaultValue, "form", "")
		r.page = &defaultValue
	}
	if r.pageSize != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page_size", r.pageSize, "form", "")
	} else {
		var defaultValue int32 = 50
		parameterAddToHeaderOrQuery(localVarQueryParams, "page_size", defaultValue, "form", "")
		r.pageSize = &defaultValue
	}
	if r.paginate != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "paginate", r.paginate, "form", "")
	} else {
		var defaultValue bool = true
		parameterAddToHeaderOrQuery(localVarQueryParams, "paginate", defaultValue, "form", "")
		r.paginate = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiV2OrganisationsDivisionsPartialUpdateRequest struct {
	ctx context.Context
	ApiService *DivisionsAPIService
	id string
	patchedDivisionWrite *PatchedDivisionWrite
}

func (r ApiV2OrganisationsDivisionsPartialUpdateRequest) PatchedDivisionWrite(patchedDivisionWrite PatchedDivisionWrite) ApiV2OrganisationsDivisionsPartialUpdateRequest {
	r.patchedDivisionWrite = &patchedDivisionWrite
	return r
}

func (r ApiV2OrganisationsDivisionsPartialUpdateRequest) Execute() (*DivisionWrite, *http.Response, error) {
	return r.ApiService.V2OrganisationsDivisionsPartialUpdateExecute(r)
}

/*
V2OrganisationsDivisionsPartialUpdate Method for V2OrganisationsDivisionsPartialUpdate

A division is a child organisation under a parent org, used only when a
customer needs to manage genuinely separate business units, locations, or
legal entities under one account. The vast majority of organisations operate
as a single entity and need no divisions. Only top-level (parent)
organisations can have divisions.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id A UUID string identifying this organisation.
 @return ApiV2OrganisationsDivisionsPartialUpdateRequest
*/
func (a *DivisionsAPIService) V2OrganisationsDivisionsPartialUpdate(ctx context.Context, id string) ApiV2OrganisationsDivisionsPartialUpdateRequest {
	return ApiV2OrganisationsDivisionsPartialUpdateRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
//  @return DivisionWrite
func (a *DivisionsAPIService) V2OrganisationsDivisionsPartialUpdateExecute(r ApiV2OrganisationsDivisionsPartialUpdateRequest) (*DivisionWrite, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPatch
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *DivisionWrite
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DivisionsAPIService.V2OrganisationsDivisionsPartialUpdate")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v2/organisations/divisions/{id}/"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json", "multipart/form-data"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.patchedDivisionWrite
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiV2OrganisationsDivisionsRetrieveRequest struct {
	ctx context.Context
	ApiService *DivisionsAPIService
	id string
}

func (r ApiV2OrganisationsDivisionsRetrieveRequest) Execute() (*DivisionReadOnly, *http.Response, error) {
	return r.ApiService.V2OrganisationsDivisionsRetrieveExecute(r)
}

/*
V2OrganisationsDivisionsRetrieve Method for V2OrganisationsDivisionsRetrieve

A division is a child organisation under a parent org, used only when a
customer needs to manage genuinely separate business units, locations, or
legal entities under one account. The vast majority of organisations operate
as a single entity and need no divisions. Only top-level (parent)
organisations can have divisions.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id A UUID string identifying this organisation.
 @return ApiV2OrganisationsDivisionsRetrieveRequest
*/
func (a *DivisionsAPIService) V2OrganisationsDivisionsRetrieve(ctx context.Context, id string) ApiV2OrganisationsDivisionsRetrieveRequest {
	return ApiV2OrganisationsDivisionsRetrieveRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
//  @return DivisionReadOnly
func (a *DivisionsAPIService) V2OrganisationsDivisionsRetrieveExecute(r ApiV2OrganisationsDivisionsRetrieveRequest) (*DivisionReadOnly, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *DivisionReadOnly
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DivisionsAPIService.V2OrganisationsDivisionsRetrieve")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v2/organisations/divisions/{id}/"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiV2OrganisationsDivisionsUpdateRequest struct {
	ctx context.Context
	ApiService *DivisionsAPIService
	id string
	divisionWrite *DivisionWrite
}

func (r ApiV2OrganisationsDivisionsUpdateRequest) DivisionWrite(divisionWrite DivisionWrite) ApiV2OrganisationsDivisionsUpdateRequest {
	r.divisionWrite = &divisionWrite
	return r
}

func (r ApiV2OrganisationsDivisionsUpdateRequest) Execute() (*DivisionWrite, *http.Response, error) {
	return r.ApiService.V2OrganisationsDivisionsUpdateExecute(r)
}

/*
V2OrganisationsDivisionsUpdate Method for V2OrganisationsDivisionsUpdate

Update an existing division's contact, billing, and address details.

Override also triggers a webhook on successful PUT and PATCH requests.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id A UUID string identifying this organisation.
 @return ApiV2OrganisationsDivisionsUpdateRequest
*/
func (a *DivisionsAPIService) V2OrganisationsDivisionsUpdate(ctx context.Context, id string) ApiV2OrganisationsDivisionsUpdateRequest {
	return ApiV2OrganisationsDivisionsUpdateRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
//  @return DivisionWrite
func (a *DivisionsAPIService) V2OrganisationsDivisionsUpdateExecute(r ApiV2OrganisationsDivisionsUpdateRequest) (*DivisionWrite, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPut
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *DivisionWrite
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DivisionsAPIService.V2OrganisationsDivisionsUpdate")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v2/organisations/divisions/{id}/"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.divisionWrite == nil {
		return localVarReturnValue, nil, reportError("divisionWrite is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json", "multipart/form-data"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.divisionWrite
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
