=begin
#Pescheck API

#Official client library for the Pescheck API (v2), generated from the OpenAPI specification. Authenticate with OAuth2 client credentials and use the checks, profiles, screenings, webhooks and divisions endpoints. See https://github.com/pescheckit/pescheck-clients for installation and usage.

The version of the OpenAPI document: 2.0.0

Generated by: https://openapi-generator.tech
Generator version: 7.23.0

=end

require 'cgi'

module Pescheck
  class AddOnsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # List every add-on with whether it is enabled for the organisation.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :division_id Act on this division instead of the organisation the token belongs to.
    # @return [Array<OrganisationAddon>]
    def v2_organisations_addons_list(opts = {})
      data, _status_code, _headers = v2_organisations_addons_list_with_http_info(opts)
      data
    end

    # List every add-on with whether it is enabled for the organisation.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :division_id Act on this division instead of the organisation the token belongs to.
    # @return [Array<(Array<OrganisationAddon>, Integer, Hash)>] Array<OrganisationAddon> data, response status code and response headers
    def v2_organisations_addons_list_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AddOnsApi.v2_organisations_addons_list ...'
      end
      # resource path
      local_var_path = '/api/v2/organisations/addons/'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'division_id'] = opts[:'division_id'] if !opts[:'division_id'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<OrganisationAddon>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['oauth2']

      new_options = opts.merge(
        :operation => :"AddOnsApi.v2_organisations_addons_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AddOnsApi#v2_organisations_addons_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Switch an add-on on or off. Enabling is billed monthly from today.
    # @param addon [String] The add-on to act on.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :division_id Act on this division instead of the organisation the token belongs to.
    # @option opts [PatchedOrganisationAddonUpdate] :patched_organisation_addon_update 
    # @return [OrganisationAddonUpdateResult]
    def v2_organisations_addons_partial_update(addon, opts = {})
      data, _status_code, _headers = v2_organisations_addons_partial_update_with_http_info(addon, opts)
      data
    end

    # Switch an add-on on or off. Enabling is billed monthly from today.
    # @param addon [String] The add-on to act on.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :division_id Act on this division instead of the organisation the token belongs to.
    # @option opts [PatchedOrganisationAddonUpdate] :patched_organisation_addon_update 
    # @return [Array<(OrganisationAddonUpdateResult, Integer, Hash)>] OrganisationAddonUpdateResult data, response status code and response headers
    def v2_organisations_addons_partial_update_with_http_info(addon, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AddOnsApi.v2_organisations_addons_partial_update ...'
      end
      # verify the required parameter 'addon' is set
      if @api_client.config.client_side_validation && addon.nil?
        fail ArgumentError, "Missing the required parameter 'addon' when calling AddOnsApi.v2_organisations_addons_partial_update"
      end
      # verify enum value
      allowable_values = ["api_access", "branded_journey", "connected_ats", "sso"]
      if @api_client.config.client_side_validation && !allowable_values.include?(addon)
        fail ArgumentError, "invalid value for \"addon\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/api/v2/organisations/addons/{addon}/'.sub('{addon}', CGI.escape(addon.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'division_id'] = opts[:'division_id'] if !opts[:'division_id'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'multipart/form-data'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'patched_organisation_addon_update'])

      # return_type
      return_type = opts[:debug_return_type] || 'OrganisationAddonUpdateResult'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['oauth2']

      new_options = opts.merge(
        :operation => :"AddOnsApi.v2_organisations_addons_partial_update",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AddOnsApi#v2_organisations_addons_partial_update\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get one add-on's state for the organisation.
    # @param addon [String] The add-on to act on.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :division_id Act on this division instead of the organisation the token belongs to.
    # @return [OrganisationAddon]
    def v2_organisations_addons_retrieve(addon, opts = {})
      data, _status_code, _headers = v2_organisations_addons_retrieve_with_http_info(addon, opts)
      data
    end

    # Get one add-on&#39;s state for the organisation.
    # @param addon [String] The add-on to act on.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :division_id Act on this division instead of the organisation the token belongs to.
    # @return [Array<(OrganisationAddon, Integer, Hash)>] OrganisationAddon data, response status code and response headers
    def v2_organisations_addons_retrieve_with_http_info(addon, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AddOnsApi.v2_organisations_addons_retrieve ...'
      end
      # verify the required parameter 'addon' is set
      if @api_client.config.client_side_validation && addon.nil?
        fail ArgumentError, "Missing the required parameter 'addon' when calling AddOnsApi.v2_organisations_addons_retrieve"
      end
      # verify enum value
      allowable_values = ["api_access", "branded_journey", "connected_ats", "sso"]
      if @api_client.config.client_side_validation && !allowable_values.include?(addon)
        fail ArgumentError, "invalid value for \"addon\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/api/v2/organisations/addons/{addon}/'.sub('{addon}', CGI.escape(addon.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'division_id'] = opts[:'division_id'] if !opts[:'division_id'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'OrganisationAddon'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['oauth2']

      new_options = opts.merge(
        :operation => :"AddOnsApi.v2_organisations_addons_retrieve",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AddOnsApi#v2_organisations_addons_retrieve\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Switch an add-on on or off. Enabling is billed monthly from today.
    # @param addon [String] The add-on to act on.
    # @param organisation_addon_update [OrganisationAddonUpdate] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :division_id Act on this division instead of the organisation the token belongs to.
    # @return [OrganisationAddonUpdateResult]
    def v2_organisations_addons_update(addon, organisation_addon_update, opts = {})
      data, _status_code, _headers = v2_organisations_addons_update_with_http_info(addon, organisation_addon_update, opts)
      data
    end

    # Switch an add-on on or off. Enabling is billed monthly from today.
    # @param addon [String] The add-on to act on.
    # @param organisation_addon_update [OrganisationAddonUpdate] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :division_id Act on this division instead of the organisation the token belongs to.
    # @return [Array<(OrganisationAddonUpdateResult, Integer, Hash)>] OrganisationAddonUpdateResult data, response status code and response headers
    def v2_organisations_addons_update_with_http_info(addon, organisation_addon_update, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AddOnsApi.v2_organisations_addons_update ...'
      end
      # verify the required parameter 'addon' is set
      if @api_client.config.client_side_validation && addon.nil?
        fail ArgumentError, "Missing the required parameter 'addon' when calling AddOnsApi.v2_organisations_addons_update"
      end
      # verify enum value
      allowable_values = ["api_access", "branded_journey", "connected_ats", "sso"]
      if @api_client.config.client_side_validation && !allowable_values.include?(addon)
        fail ArgumentError, "invalid value for \"addon\", must be one of #{allowable_values}"
      end
      # verify the required parameter 'organisation_addon_update' is set
      if @api_client.config.client_side_validation && organisation_addon_update.nil?
        fail ArgumentError, "Missing the required parameter 'organisation_addon_update' when calling AddOnsApi.v2_organisations_addons_update"
      end
      # resource path
      local_var_path = '/api/v2/organisations/addons/{addon}/'.sub('{addon}', CGI.escape(addon.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'division_id'] = opts[:'division_id'] if !opts[:'division_id'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'multipart/form-data'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(organisation_addon_update)

      # return_type
      return_type = opts[:debug_return_type] || 'OrganisationAddonUpdateResult'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['oauth2']

      new_options = opts.merge(
        :operation => :"AddOnsApi.v2_organisations_addons_update",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AddOnsApi#v2_organisations_addons_update\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
