=begin
#Pescheck API

#Official client library for the Pescheck API (v2), generated from the OpenAPI specification. Authenticate with OAuth2 client credentials and use the checks, profiles, screenings, webhooks and divisions endpoints. See https://github.com/pescheckit/pescheck-clients for installation and usage.

The version of the OpenAPI document: 2.0.0

Generated by: https://openapi-generator.tech
Generator version: 7.23.0

=end

require 'cgi'

module Pescheck
  class AuthenticationApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Log in with email + password. Returns a JWT pair scoped to the organization or division specified by organisation_id/division_id (defaults to your current org).  For a plain login, use POST /api/jwt/.
    # @param jwt_generation [JWTGeneration] 
    # @param [Hash] opts the optional parameters
    # @return [JWTResponse]
    def generate_jwt_token2(jwt_generation, opts = {})
      data, _status_code, _headers = generate_jwt_token2_with_http_info(jwt_generation, opts)
      data
    end

    # Log in with email + password. Returns a JWT pair scoped to the organization or division specified by organisation_id/division_id (defaults to your current org).  For a plain login, use POST /api/jwt/.
    # @param jwt_generation [JWTGeneration] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(JWTResponse, Integer, Hash)>] JWTResponse data, response status code and response headers
    def generate_jwt_token2_with_http_info(jwt_generation, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AuthenticationApi.generate_jwt_token2 ...'
      end
      # verify the required parameter 'jwt_generation' is set
      if @api_client.config.client_side_validation && jwt_generation.nil?
        fail ArgumentError, "Missing the required parameter 'jwt_generation' when calling AuthenticationApi.generate_jwt_token2"
      end
      # resource path
      local_var_path = '/api/v2/jwt/generate/'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'multipart/form-data'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(jwt_generation)

      # return_type
      return_type = opts[:debug_return_type] || 'JWTResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['oauth2']

      new_options = opts.merge(
        :operation => :"AuthenticationApi.generate_jwt_token2",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AuthenticationApi#generate_jwt_token2\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Log in with email + password. Returns a JWT pair scoped to your current organization (last viewed, or first available).  For a token scoped to a specific org or division, use POST /api/v2/jwt/generate/.
    # @param custom_token_obtain_pair [CustomTokenObtainPair] 
    # @param [Hash] opts the optional parameters
    # @return [CustomTokenObtainPair]
    def jwt_create(custom_token_obtain_pair, opts = {})
      data, _status_code, _headers = jwt_create_with_http_info(custom_token_obtain_pair, opts)
      data
    end

    # Log in with email + password. Returns a JWT pair scoped to your current organization (last viewed, or first available).  For a token scoped to a specific org or division, use POST /api/v2/jwt/generate/.
    # @param custom_token_obtain_pair [CustomTokenObtainPair] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CustomTokenObtainPair, Integer, Hash)>] CustomTokenObtainPair data, response status code and response headers
    def jwt_create_with_http_info(custom_token_obtain_pair, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AuthenticationApi.jwt_create ...'
      end
      # verify the required parameter 'custom_token_obtain_pair' is set
      if @api_client.config.client_side_validation && custom_token_obtain_pair.nil?
        fail ArgumentError, "Missing the required parameter 'custom_token_obtain_pair' when calling AuthenticationApi.jwt_create"
      end
      # resource path
      local_var_path = '/api/jwt/'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'multipart/form-data'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(custom_token_obtain_pair)

      # return_type
      return_type = opts[:debug_return_type] || 'CustomTokenObtainPair'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['oauth2']

      new_options = opts.merge(
        :operation => :"AuthenticationApi.jwt_create",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AuthenticationApi#jwt_create\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Takes a refresh type JSON web token and returns an access type JSON web token if the refresh token is valid.
    # @param token_refresh [TokenRefresh] 
    # @param [Hash] opts the optional parameters
    # @return [TokenRefresh]
    def jwt_refresh_create(token_refresh, opts = {})
      data, _status_code, _headers = jwt_refresh_create_with_http_info(token_refresh, opts)
      data
    end

    # Takes a refresh type JSON web token and returns an access type JSON web token if the refresh token is valid.
    # @param token_refresh [TokenRefresh] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(TokenRefresh, Integer, Hash)>] TokenRefresh data, response status code and response headers
    def jwt_refresh_create_with_http_info(token_refresh, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AuthenticationApi.jwt_refresh_create ...'
      end
      # verify the required parameter 'token_refresh' is set
      if @api_client.config.client_side_validation && token_refresh.nil?
        fail ArgumentError, "Missing the required parameter 'token_refresh' when calling AuthenticationApi.jwt_refresh_create"
      end
      # resource path
      local_var_path = '/api/jwt/refresh/'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'multipart/form-data'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(token_refresh)

      # return_type
      return_type = opts[:debug_return_type] || 'TokenRefresh'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['oauth2']

      new_options = opts.merge(
        :operation => :"AuthenticationApi.jwt_refresh_create",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AuthenticationApi#jwt_refresh_create\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
