=begin
#Pescheck API

#Official client library for the Pescheck API (v2), generated from the OpenAPI specification. Authenticate with OAuth2 client credentials and use the checks, profiles, screenings, webhooks and divisions endpoints. See https://github.com/pescheckit/pescheck-clients for installation and usage.

The version of the OpenAPI document: 2.0.0

Generated by: https://openapi-generator.tech
Generator version: 7.23.0

=end

require 'cgi'

module Pescheck
  class ProfilesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # @param v2_profile_create [V2ProfileCreate] 
    # @param [Hash] opts the optional parameters
    # @return [V2ProfileDetail]
    def v2_profiles_create(v2_profile_create, opts = {})
      data, _status_code, _headers = v2_profiles_create_with_http_info(v2_profile_create, opts)
      data
    end

    # @param v2_profile_create [V2ProfileCreate] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(V2ProfileDetail, Integer, Hash)>] V2ProfileDetail data, response status code and response headers
    def v2_profiles_create_with_http_info(v2_profile_create, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProfilesApi.v2_profiles_create ...'
      end
      # verify the required parameter 'v2_profile_create' is set
      if @api_client.config.client_side_validation && v2_profile_create.nil?
        fail ArgumentError, "Missing the required parameter 'v2_profile_create' when calling ProfilesApi.v2_profiles_create"
      end
      # resource path
      local_var_path = '/api/v2/profiles/'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'multipart/form-data'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(v2_profile_create)

      # return_type
      return_type = opts[:debug_return_type] || 'V2ProfileDetail'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['oauth2']

      new_options = opts.merge(
        :operation => :"ProfilesApi.v2_profiles_create",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProfilesApi#v2_profiles_create\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param id [String] A UUID string identifying this profile.
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def v2_profiles_destroy(id, opts = {})
      v2_profiles_destroy_with_http_info(id, opts)
      nil
    end

    # @param id [String] A UUID string identifying this profile.
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def v2_profiles_destroy_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProfilesApi.v2_profiles_destroy ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling ProfilesApi.v2_profiles_destroy"
      end
      # resource path
      local_var_path = '/api/v2/profiles/{id}/'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['oauth2']

      new_options = opts.merge(
        :operation => :"ProfilesApi.v2_profiles_destroy",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProfilesApi#v2_profiles_destroy\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param [Hash] opts the optional parameters
    # @option opts [String] :check_type Restrict to profiles containing at least one check of this type.
    # @option opts [Boolean] :is_custom Restrict to custom (true) or system (false) profiles.
    # @option opts [String] :name Restrict to profiles whose name contains this value (case-insensitive).
    # @option opts [Integer] :page A page number within the paginated result set. (default to 1)
    # @option opts [Integer] :page_size Number of results to return per page. (default to 50)
    # @option opts [Boolean] :paginate Enable/disable pagination. When false, max 500 records returned. (default to true)
    # @option opts [String] :sort Which field to use when ordering the results.
    # @return [PaginatedV2ProfileListItemList]
    def v2_profiles_list(opts = {})
      data, _status_code, _headers = v2_profiles_list_with_http_info(opts)
      data
    end

    # @param [Hash] opts the optional parameters
    # @option opts [String] :check_type Restrict to profiles containing at least one check of this type.
    # @option opts [Boolean] :is_custom Restrict to custom (true) or system (false) profiles.
    # @option opts [String] :name Restrict to profiles whose name contains this value (case-insensitive).
    # @option opts [Integer] :page A page number within the paginated result set. (default to 1)
    # @option opts [Integer] :page_size Number of results to return per page. (default to 50)
    # @option opts [Boolean] :paginate Enable/disable pagination. When false, max 500 records returned. (default to true)
    # @option opts [String] :sort Which field to use when ordering the results.
    # @return [Array<(PaginatedV2ProfileListItemList, Integer, Hash)>] PaginatedV2ProfileListItemList data, response status code and response headers
    def v2_profiles_list_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProfilesApi.v2_profiles_list ...'
      end
      allowable_values = ["addresscheck", "adversemediacheck", "bigcheck", "criminalrecordscheck", "criminalrecordsuploadcheck", "customintegritycheck", "cvcheck", "edrcheck", "id2check", "integritycheck", "openhealthcarecheck", "qualificationcheck", "righttoworkcheck", "vogcheck", "watchlist2check", "watchlistcheck", "workreferencecheck", "worldwidecreditcheck"]
      if @api_client.config.client_side_validation && opts[:'check_type'] && !allowable_values.include?(opts[:'check_type'])
        fail ArgumentError, "invalid value for \"check_type\", must be one of #{allowable_values}"
      end
      if @api_client.config.client_side_validation && !opts[:'page'].nil? && opts[:'page'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page"]" when calling ProfilesApi.v2_profiles_list, must be greater than or equal to 1.'
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] > 100
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling ProfilesApi.v2_profiles_list, must be smaller than or equal to 100.'
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling ProfilesApi.v2_profiles_list, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/api/v2/profiles/'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'check_type'] = opts[:'check_type'] if !opts[:'check_type'].nil?
      query_params[:'is_custom'] = opts[:'is_custom'] if !opts[:'is_custom'].nil?
      query_params[:'name'] = opts[:'name'] if !opts[:'name'].nil?
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'page_size'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'paginate'] = opts[:'paginate'] if !opts[:'paginate'].nil?
      query_params[:'sort'] = opts[:'sort'] if !opts[:'sort'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PaginatedV2ProfileListItemList'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['oauth2']

      new_options = opts.merge(
        :operation => :"ProfilesApi.v2_profiles_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProfilesApi#v2_profiles_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update name and/or description only. Use PUT to change the check list.
    # @param id [String] A UUID string identifying this profile.
    # @param [Hash] opts the optional parameters
    # @option opts [PatchedV2ProfilePartialUpdate] :patched_v2_profile_partial_update 
    # @return [V2ProfileDetail]
    def v2_profiles_partial_update(id, opts = {})
      data, _status_code, _headers = v2_profiles_partial_update_with_http_info(id, opts)
      data
    end

    # Update name and/or description only. Use PUT to change the check list.
    # @param id [String] A UUID string identifying this profile.
    # @param [Hash] opts the optional parameters
    # @option opts [PatchedV2ProfilePartialUpdate] :patched_v2_profile_partial_update 
    # @return [Array<(V2ProfileDetail, Integer, Hash)>] V2ProfileDetail data, response status code and response headers
    def v2_profiles_partial_update_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProfilesApi.v2_profiles_partial_update ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling ProfilesApi.v2_profiles_partial_update"
      end
      # resource path
      local_var_path = '/api/v2/profiles/{id}/'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'multipart/form-data'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'patched_v2_profile_partial_update'])

      # return_type
      return_type = opts[:debug_return_type] || 'V2ProfileDetail'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['oauth2']

      new_options = opts.merge(
        :operation => :"ProfilesApi.v2_profiles_partial_update",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProfilesApi#v2_profiles_partial_update\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param id [String] A UUID string identifying this profile.
    # @param [Hash] opts the optional parameters
    # @return [V2ProfileDetail]
    def v2_profiles_retrieve(id, opts = {})
      data, _status_code, _headers = v2_profiles_retrieve_with_http_info(id, opts)
      data
    end

    # @param id [String] A UUID string identifying this profile.
    # @param [Hash] opts the optional parameters
    # @return [Array<(V2ProfileDetail, Integer, Hash)>] V2ProfileDetail data, response status code and response headers
    def v2_profiles_retrieve_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProfilesApi.v2_profiles_retrieve ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling ProfilesApi.v2_profiles_retrieve"
      end
      # resource path
      local_var_path = '/api/v2/profiles/{id}/'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'V2ProfileDetail'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['oauth2']

      new_options = opts.merge(
        :operation => :"ProfilesApi.v2_profiles_retrieve",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProfilesApi#v2_profiles_retrieve\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Replace the profile. Checks matched by profile_check_id are updated in place; entries without one are added; existing checks not referenced in the request are removed.
    # @param id [String] A UUID string identifying this profile.
    # @param v2_profile_update [V2ProfileUpdate] 
    # @param [Hash] opts the optional parameters
    # @return [V2ProfileDetail]
    def v2_profiles_update(id, v2_profile_update, opts = {})
      data, _status_code, _headers = v2_profiles_update_with_http_info(id, v2_profile_update, opts)
      data
    end

    # Replace the profile. Checks matched by profile_check_id are updated in place; entries without one are added; existing checks not referenced in the request are removed.
    # @param id [String] A UUID string identifying this profile.
    # @param v2_profile_update [V2ProfileUpdate] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(V2ProfileDetail, Integer, Hash)>] V2ProfileDetail data, response status code and response headers
    def v2_profiles_update_with_http_info(id, v2_profile_update, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProfilesApi.v2_profiles_update ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling ProfilesApi.v2_profiles_update"
      end
      # verify the required parameter 'v2_profile_update' is set
      if @api_client.config.client_side_validation && v2_profile_update.nil?
        fail ArgumentError, "Missing the required parameter 'v2_profile_update' when calling ProfilesApi.v2_profiles_update"
      end
      # resource path
      local_var_path = '/api/v2/profiles/{id}/'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'multipart/form-data'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(v2_profile_update)

      # return_type
      return_type = opts[:debug_return_type] || 'V2ProfileDetail'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['oauth2']

      new_options = opts.merge(
        :operation => :"ProfilesApi.v2_profiles_update",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProfilesApi#v2_profiles_update\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
